@import "react-grid-layout/css/styles.css";
@import "react-resizable/css/styles.css";

.fill-area {
  display: table;
  z-index: -1;
  position: absolute;
  top: -320000px;
  left: -320000px;
  width: 640000px;
  height: 640000px;
}

.dark .react-resizable-handle {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIxIj48cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iI2ZmZiIvPjwvZz48L3N2Zz4=')
}

.react-grid-item.react-grid-placeholder {
  background: hsl(var(--primary));
}

.background {
  opacity: 1;
  background-color: var(--background);
  background-image: radial-gradient(
    hsl(var(--muted-foreground)) 1px,
    transparent 0
  );
  background-size: 40px 40px;
  background-position: -19px -19px;
}
