@import "flexlayout-react/style/underline.css";
.flexlayout__layout {
  --color-text: hsl(var(--foreground));
  --color-background: hsl(var(--background));
  --color-base: hsl(var(--card));
  --color-1: hsl(var(--muted), 2);
  --color-2: hsl(var(--card));
  --color-3: #262626;
  --color-4: hsl(var(--muted));
  --color-5: #404040;
  --color-6: hsl(var(--popover));
  --color-drag1: rgb(207, 232, 255);
  --color-drag2: rgb(183, 209, 181);
  --color-drag1-background: rgba(128, 128, 128, 0.15);
  --color-drag2-background: rgba(128, 128, 128, 0.15);
  --font-size: medium;
  --font-family: Roboto, Arial, sans-serif;
  --color-overflow: gray;
  --color-icon: gray;
  --color-tabset-background: var(--color-1);
  --color-tabset-background-selected: var(--color-1);
  --color-tabset-background-maximized: var(--color-6);
  --color-tabset-divider-line: var(--color-4);
  --color-tabset-header-background: var(--color-1);
  --color-tabset-header: var(--color-text);
  --color-border-background: var(--color-1);
  --color-border-divider-line: var(--color-4);
  --color-tab-selected: var(--color-text);
  --color-tab-selected-background: var(--color-4);
  --color-tab-unselected: gray;
  --color-tab-unselected-background: transparent;
  --color-tab-textbox: var(--color-text);
  --color-tab-textbox-background: var(--color-3);
  --color-border-tab-selected: var(--color-text);
  --color-border-tab-selected-background: var(--color-4);
  --color-border-tab-unselected: gray;
  --color-border-tab-unselected-background: transparent;
  --color-splitter: hsl(var(--primary-foreground));
  --color-splitter-hover: var(--color-4);
  --color-splitter-drag: var(--color-5);
  --color-drag-rect-border: var(--color-4);
  --color-drag-rect-background: var(--color-1);
  --color-drag-rect: var(--color-text);
  --color-popup-border: var(--color-6);
  --color-popup-unselected: var(--color-text);
  --color-popup-unselected-background: black;
  --color-popup-selected: var(--color-text);
  --color-popup-selected-background: var(--color-4);
  --color-edge-marker: gray;
}

.flexlayout__border_inner_tab_container_left
  .flexlayout__border_button--selected {
  border-bottom: 0;
  border-top: var(--underline_height) solid var(--color-underline);
}

.flexlayout__border_inner_tab_container_left
  .flexlayout__border_button--unselected {
  border-bottom: 0;
  border-top: var(--underline_height) solid transparent;
}

.flexlayout__border_inner_tab_container_left
  .flexlayout__border_button--unselected:hover {
  border-bottom: 0;
  border-top: var(--underline_height) solid var(--color-underline-hover);
}

.flexlayout__border_tab_divider {
  border: 0;
  margin: 1px 0;
}

/* RETE BACKGROUND */
.fill-area {
  display: table;
  z-index: -1;
  position: absolute;
  top: -320000px;
  left: -320000px;
  width: 640000px;
  height: 640000px;
}

.dark .react-resizable-handle {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIxIj48cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iI2ZmZiIvPjwvZz48L3N2Zz4=");
}

.react-grid-item.react-grid-placeholder {
  background: hsl(var(--primary));
}

.background {
  opacity: 0.45;
  background-color: hsl(var(--muted));
  background-image: radial-gradient(
    hsl(var(--muted-foreground)) 1px,
    transparent 0
  );
  background-size: 40px 40px;
  background-position: -19px -19px;
}
